.datailsContainer {
  margin: 0;
  margin-top: 20px;
  margin-left: 20px;
}

.container {
  display: flex;
  width: 600px;
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
    width: 260px;
  }
}

.button {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: normal;
  color: #808080;
  font-style: italic;
  box-shadow: 3px 3px #d87093, -0.3em 0 .4em #808080;
}

.title {
  margin-right: 20px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: #2f4f4f;
}

.movieImage {
  margin-right: 20px;
  box-shadow: 0 -5px 3px -3px #808080, 0 5px 3px -3px #808080;
}

.text {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: #2f4f4f;
}

.span {
  margin-right: 5px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;

  color: #c71585;
}

.movieText {
  list-style: none;
  font-size: 14px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  color: #2f4f4f;
}

ul {
  margin: 0;
  padding: 0;
}